<%- include("partials/messages.ejs") %>
<div>
  <h1>Posts</h1>
  <% posts.forEach(post => { %> <% users.forEach(u => { %> <% if (post.author == u._id) { %>
  <ul>
    <li>
      <div>
        <h2>
          <a href="<%= `/post/${post._id}` %> "> <%= post.title %> </a>
        </h2>
        <div>
          <p>
            <%= post.content %>
          </p>
        </div>
        <div>
          <img src="<%= post.imageSrc %>" alt="" />
        </div>
        <div>
          <%= u.name %>
        </div>
      </div>
    </li>
  </ul>
  <% } %> <% }); %> <% }); %>
</div>
