<%- include("partials/messages.ejs") %>
<a href="" id="advSearch">
  Advance Search
  <i class="fa fa-search-plus" aria-hidden="true"></i>
</a>
<div id="searchForm" style="display: none;">
  <h1>Advance Search</h1>
  <form action="/advanceSearch" method="GET">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="title" />
    </div>
    <div>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" />
    </div>
    <button type="submit" class="btn btn-outline-info btn-lg">
      Search
    </button>
  </form>
</div>

<h1>Posts</h1>
<% posts.sort((a, b) => b.date - a.date) %> <% posts.forEach(post => { %> <% users.forEach(u => { %>
<% if (post.author == u._id) { %>
<ul>
  <li>
    <div>
      <h2>
        <a href="<%= `/post/${post._id}` %> "> <%= post.title %> </a>
      </h2>
      <p><%= post.date.toISOString().split('T')[0] %></p>
      <div>
        <p>
          <%= post.content %>
        </p>
      </div>
      <div>
        <img src="<%= post.imageSrc %>" alt="" />
      </div>
      <div>
        <%= u.name %>
      </div>
    </div>
  </li>
</ul>
<% } %> <% }); %><% }); %>

<script type="text/javascript">
  document.getElementById("advSearch").addEventListener("click", (e) => {
    e.preventDefault();
    var result = document.getElementById("searchForm").style;
    if (result.display == "none") {
      result.display = "block";
    } else if (result.display == "block") {
      result.display = "none";
    }
  });
</script>
