<%- include("partials/messages.ejs") %>
<form action="/" method="GET">
  <input type="text" name="title" placeholder="Search post..." value="<%= search.title %>" />
  <button type="submit">Search</button>
</form>
<div>
  <h1>Posts</h1>
  <% posts.sort((a, b) => b.date - a.date) %> <% posts.forEach(post => { %>
  <ul>
    <li>
      <div>
        <h2>
          <a href="<%= `/post/${post._id}` %> "> <%= post.title %> </a>
        </h2>
        <p><%= post.date.toISOString().split('T')[0] %></p>
        <div>
          <p>
            <%= post.content %>
          </p>
        </div>
        <div>
          <img src="<%= post.imageSrc %>" alt="" />
        </div>
        <div>
          <% users.forEach(u => { %> <% if (post.author == u._id) { %> <%= u.name %> <% } %> <% });
          %>
        </div>
      </div>
    </li>
  </ul>
  <% }); %>
</div>
