<h1>Hello World</h1>
<p>Welcome <%= users.name %></p>
<% posts.sort((a, b) => b.date - a.date) %> <% posts.forEach(post => { %> <% if (post.author ==
users._id) { %>
<ul>
  <li>
    <h2>
      <a href="<%= `/post/${post._id}` %> "> <%= post.title %> </a>
    </h2>
    <p><%= post.date.toISOString().split('T')[0] %></p>
    <div>
      <p>
        <%= post.content %>
      </p>
    </div>
    <div>
      <img src="<%= post.imageSrc %>" alt="" />
    </div>
    <div>
      <%= users.name %>
    </div>
  </li>
</ul>
<% } %> <% }) %>
