<%- include("../partials/messages.ejs") %>
<h1><%= user.name %></h1>
<div>
    <p><%= user.email %></p>
</div>
<div>
    Profile Info
</div>
<form action="profile" method="POST"">
    <div>
        <label for="name">Name</label>
        <input 
        type="name" 
        id="name" 
        name="name" 
        value="<%= user.name %>"
        >
    </div>
    <div>
        <label for="email" class="login-input">Email address</label>
        <input
        type="email"
        id="email"
        name="email"
        value="<%= user.email %>"
        >
    </div>
    <button type="submit" class="btn btn-outline-info btn-lg">
        Update
    </button>
</form>